[submodule "RASPBERRY/wiringPi"]
	path = RASPBERRY/wiringPi
	url = git://git.drogon.net/wiringPi
[submodule "RASPBERRY/433utils"]
	path = RASPBERRY/433utils
	url = git://github.com/ninjablocks/433utils.git
[submodule "libraries/rc-switch"]
	path = libraries/rc-switch
	url = https://github.com/sui77/rc-switch
[submodule "RASPBERRY/termoxest_wapp"]
	path = RASPBERRY/termoxest_wapp
	url = git://github.com/jlferrin/termoxest_wapp.git
[submodule "RASPBERRY/pi-blaster"]
	path = RASPBERRY/pi-blaster
	url = https://github.com/hybridgroup/pi-blaster.git
[submodule "RASPBERRY/RF24"]
	path = RASPBERRY/RF24
	url = git://github.com/TMRh20/RF24.git
